{% extends 'basee.html' %}
{% load static %}
{% block content %}

      <div class="titulo">

        <img class="imagen_Ti"  src="{% static '/images/logo.interbus.png' %}" alt="Autobús"><h1>Parada Ctra.Antigua De Burgos-C.C.Alegra</h1></div>
        
         
         </div>
         <div class="tabla">
          <div class="first">
           <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús"><a href="{% url 'reserva' %}" ><p><strong>Linea 181</strong></a><br>
             Madrid (Plaza de Castilla) - Algete</p>
          </div>
   
          <div class=" texto">
           <p> <b> Linea 181 de autobús Linea Horarios y Paradas (Actualizado) </b><br>
           LLa línea 181 de autobús (Intercambiador De Plaza De Castilla (Nivel -3, Isla 1)) <br> 
           tiene 26 paradas desde Ronda De La Constitución - Alcalá hasta Intercambiador De Plaza De Castilla.</p></div>
        
        <div class="horarios">
         <b>Horarios de 181 de autobús
         La ruta de autobús 181 opera todos los días. </b> <br> 
         El horario regular es: 5:40-21:05<br> <br>
         <strong> Día	Horas operativas	Frecuencia (min)</strong> <br>
         lun.	06:30 - 23:45	15 - 30 <br>
         mar.	06:30 - 23:45	15 - 30 <br>
         mié.	07:30 - 23:10	30 - 40 <br>
         jue.	07:30 - 23:10	30 - 40 <br>
         vie.	06:30 - 23:45	15 - 30 <br>
         sáb.	07:00 - 23:00	30 <br>
         dom.	07:30 - 23:10	30 - 40</div>
         <img class="horarios"  src="{% static '/images/mapa.181.png' %}" alt="bus">
           </div>
 
           <div class="tabla">
          <div class="first">
           <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 182 </strong> </a><br>
             S. S de los Reyes(Dehesa Vieja)-Madrid(Plaza Castilla) <br>
             
             
           </div>
           <div class=" texto">
             <p> <b>  Interurbanos 182 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
               La línea 182 de autobús (Intercambiador De Plaza De Castilla (Nivel -3, Isla 1)) <br>
                tiene 23 paradas desde Valdeolmos - Zarzuela hasta Intercambiador De Plaza De Castilla.</p></div>
          
   
          <div class="horarios">
           <b>Horarios de 182 de autobús
           La ruta de autobús 182 opera todos los días. </b> <br> 
           El horario regular es: 06:30 - 22:35 <br> <br>
           <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
           lun.	06:30 - 22:35	18 - 60 <br>
           mar.	06:30 - 22:35	20 - 60 <br>
           mié.	06:30 - 22:35	20 - 60 <br>
           jue.	06:30 - 22:35	20 - 60 <br>
           vie.	06:30 - 22:35	15 - 60 <br>
           sáb.	07:00 - 22:30	25 - 135 <br>
           dom.	07:00 - 22:30	5 - 135</div>
           <img class="horarios"  src="{% static '/images/mapa.182.png' %}" alt="bus">
           </div>
 
           <div class="tabla">
           <div class="first">
             <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 183 </strong> </a><br>
               Madrid (Plaza de Castilla) - Cobeña - Algete<br>
               
               
             </div>
             <div class=" texto">
               <p> <b>  Interurbanos 183 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                 La línea 183 de autobús (Ronda De La Constitución - Alcalá) <br>
                  tiene 25 paradas desde Intercambiador De Plaza De Castilla hasta Ronda De La Constitución - Alcalá.</p></div>
           
     
            <div class="horarios">
             <b>Horarios de 183 de autobús
             La ruta de autobús 183 opera todos los días. </b> <br> 
             El horario regular es: 06:10 - 23:00 <br> <br>
             <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
             lun.	06:10 - 23:00	80 - 120 <br>
             mar.	06:10 - 23:00	80 - 120 <br>
             mié.	06:10 - 23:00	80 - 120 <br>
             jue.	06:10 - 23:00	80 - 120 <br>
             vie.	06:10 - 23:00	80 - 120 <br>
             sáb.	02:00 - 23:00	120 - 370 <br>
             dom.	02:00 - 23:00	120 - 370</div>
             <img class="horarios"  src="{% static '/images/mapa.183.png' %}" alt="bus">
           </div>
   
           <div class="tabla">
             <div class="first">
               <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 185 </strong> </a><br>
                 Madrid (Plaza de Castilla) - Nuevo Algete<br>
                 
                 
               </div>
               <div class=" texto">
                 <p> <b>  Interurbanos 185 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                   La línea 185 de autobús (Valdeamor - Pza. Poetas) <br>
                  tiene 19 paradas desde Intercambiador De Plaza De Castilla hasta Valdeamor - Pza. Poetas.</p></div>
             
       
              <div class="horarios">
               <b>Horarios de 185 de autobús
               La ruta de autobús 185 opera todos los días. </b> <br> 
               El horario regular es: 06:50 - 22:10 <br> <br>
               <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
               lun.	06:50 - 22:10	80 - 120<br>
               mar.	06:50 - 22:10	80 - 120 <br>
               mié.	06:50 - 22:10	80 - 120 <br>
               jue.	06:50 - 22:10	80 - 120<br>
               vie.	06:50 - 22:10	80 - 120<br>
               sáb.	07:10 - 21:10	120 <br>
               dom.	07:10 - 21:10	120</div>
               <img class="horarios"  src="{% static '/images/mapa.185.png' %}" alt="bus">
             </div>
 
 
             <div class="tabla">
               <div class="first">
                 <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 180 </strong> </a><br>
                   Alcobendas - Algete<br>
                   
                   
                 </div>
                 <div class=" texto">
                   <p> <b>  Interurbanos 185 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                     La línea 180 de autobús (Av. España - Est. Alcobendas - S. S. Reyes→Ronda De La Constitución - Alcalá) <br>
                     tiene 21 paradas desde Av. España - Est. Alcobendas - S. S. Reyes hasta Ronda De La Constitución - Alcalá.</p></div>
               
         
                <div class="horarios">
                 <b>Horarios de 180 de autobús
                 La ruta de autobús 180 opera todos los días. </b> <br> 
                 El horario regular es: 06:30 - 22:40 <br> <br>
                 <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
                 lun.	06:30 - 22:40	20 - 40<br>
                 mar.	06:30 - 22:40	20 - 40 <br>
                 mié.	06:30 - 22:40	20 - 40 <br>
                 jue.	06:30 - 22:40	20 - 40<br>
                 vie.	06:30 - 22:40	20 - 40<br>
                 sáb.	07:00 - 22:20	40 <br>
                 dom.	06:30 - 23:40	60 - 70</div>
                 <img class="horarios"  src="{% static '/images/mapa.180.png' %}" alt="bus">
               </div>
 
 
               <div class="tabla">
                 <div class="first">
                   <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 171 </strong> </a><br>
                     Madrid (Plaza de Castilla) - Nuevo Algete<br>
                     
                     
                   </div>
                   <div class=" texto">
                     <p> <b>  Interurbanos 171 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                       La línea 171 de autobús (Intercambiador De Plaza De Castilla (Nivel 0, Isla 4)) <br>
                        tiene 24 paradas desde Ctra. Antigua De Burgos - La Granjilla hasta Intercambiador De Plaza De Castilla.</p></div>
                  
           
                  <div class="horarios">
                   <b>Horarios de 185 de autobús
                   La ruta de autobús 185 opera todos los días. </b> <br> 
                   El horario regular es: 06:00 - 21:40 <br>
                   <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> <br>
                   lun.	06:00 - 21:40	10 - 25<br>
                   mar.	06:00 - 21:40	10 - 25 <br>
                   mié.	06:00 - 21:40	10 - 25 <br>
                   jue.	06:00 - 21:40	10 - 25<br>
                   vie.	06:00 - 23:00	10 - 25<br>
                   sáb.	06:10 - 22:00	30 - 60 <br>
                   dom.	06:20 - 21:00	30 - 70</div>
                   <img class="horarios"  src="{% static '/images/mapa.171.png' %}" alt="bus">
                 </div>
                 
                 <div class="tabla">
     
                   <div class="first">
                     <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 191 </strong> </a><br>
                       Madrid (Plaza de Castilla) - Buitrago<br>
                       
                       
                     </div>
                     <div class=" texto">
                       <p> <b>  Interurbanos 191 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                         La línea 191 de autobús (Av. Madrid - Real) tiene 22 paradas desde Pza. Mayor - Fuente hasta Av. Madrid - Real.</p></div>
                    
             
                    <div class="horarios">
                     <b>Horarios de 191 de autobús
                     La ruta de autobús 191 opera todos los días. </b> <br> 
                     El horario regular es: 06:00 - 23:00 <br>
                     <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> <br>
                     lun.	06:00 - 23:00	-<br>
                     mar.	06:00 - 23:00	- <br>
                     mié.	06:00 - 23:00	- <br>
                     jue.	06:00 - 23:00	-<br>
                     vie.	06:00 - 23:00	5 - 120<br>
                     sáb.	00:30 - 22:30	60 - 150 <br>
                     dom.	00:40 - 22:30	75 - 230</div>
                     <img class="horarios"  src="{% static '/images/mapa.191.png' %}" alt="bus">
                   </div>
                   <div class="tabla">
 
                        <div class="first">
                       <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 193 </strong> </a><br>
                         Madrid (Plaza de Castilla) - Pedrezuela - El Vellónbr>
                         
                         
                       </div>
                       <div class=" texto">
                         <p> <b>  Interurbanos 193 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                           La línea 193 de autobús (San Roque - Escuela De Hostelería) <br>
                            tiene 27 paradas desde Intercambiador De Plaza De Castilla hasta San Roque - Escuela De Hostelería.</p></div>
                      
               
                      <div class="horarios">
                       <b>Horarios de 185 de autobús
                       La ruta de autobús 193 opera todos los días. </b> <br> 
                       El horario regular es: 04:40 - 21:00 <br>
                       <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> <br>
                       lun.	05:40 - 21:00	30 - 262<br>
                       mar.	05:40 - 21:00	30 - 262 <br>
                       mié.	05:40 - 21:00	30 - 262 <br>
                       jue.	05:40 - 21:00	30 - 262<br>
                       vie.	05:40 - 22:00	30 - 225<br>
                       sáb.	08:00 - 22:00	30 - 240 <br>
                       dom.	12:15 - 21:00	195 - 330</div>
                       <img class="horarios"  src="{% static '/images/mapa.193.png' %}" alt="bus">
                     </div>
                     <div class="tabla">
     
                       <div class="first">
                         <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 197 </strong> </a><br>
                           Madrid (Plaza de Castilla) - Torrelaguna/Uceda<br>
                           
                           
                         </div>
                         <div class=" texto">
                           <p> <b>  Interurbanos 197 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                             La línea 197 de autobús (Valdetorres De Jarama - Soledad) <br>
                             tiene 7 paradas desde Av. Europa - Instituto hasta Valdetorres De Jarama - Soledad.</p></div>
                        
                       
 
                 
                        <div class="horarios">
                        
                         <b>Horarios de 197 de autobús
                         La ruta de autobús 197 opera de lunes a jueves </b> <br> 
                         El horario regular es: 14:30 <br>
                         <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> <br>
                         un.	14:30	Una única salida<br>
                         mar.	14:30	Una única salida <br>
                         mié.	14:30	Una única salida <br>
                         jue.	14:30	Una única salida<br>
                         vie.	Sin Servicio	Sin Servicio<br>
                         sáb.	Sin Servicio	Sin Servicio <br>
                         dom.	Sin Servicio	Sin Servicio <br>
                         
                       
                        </div>
                        <img class="horarios"  src="{% static '/images/mapa.197.png' %}" alt="bus">
                        </div>
                        
                         
               
        
       
        
        
  {% endblock %}