{% extends 'basee.html' %}
{% load static %}
{% block content %}

      <div class="titulo">

        <img class="imagen_Ti"  src="{% static '/images/logo.interbus.png' %}" alt="Autobús"><h1>Parada Paseo de Europa</h1></div>
        
         
         </div>
         <div class="tabla">
          <div class="first">
           <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 182 </strong> </a><br>
             S. S de los Reyes(Dehesa Vieja)-Madrid(Plaza Castilla) <br>
             
             
           </div>
           <div class=" texto">
             <p> <b>  Interurbanos 182 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
               La línea 182 de autobús (Intercambiador De Plaza De Castilla (Nivel -3, Isla 1)) <br>
                tiene 23 paradas desde Valdeolmos - Zarzuela hasta Intercambiador De Plaza De Castilla.</p></div>
         <div class="horarios">
          <b>Horarios de 182 de autobús
          La ruta de autobús 182 opera todos los días. </b> <br> 
          El horario regular es: 06:30 - 22:35 <br> <br>
          <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
          lun.	06:30 - 22:35	18 - 60 <br>
          mar.	06:30 - 22:35	20 - 60 <br>
          mié.	06:30 - 22:35	20 - 60 <br>
          jue.	06:30 - 22:35	20 - 60 <br>
          vie.	06:30 - 22:35	15 - 60 <br>
          sáb.	07:00 - 22:30	25 - 135 <br>
          dom.	07:00 - 22:30	5 - 135</div>
          <img class="horarios"  src="{% static '/images/mapa.182.png' %}" alt="bus">
          </div>

          <div class="tabla">
          <div class="first">
            <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 183 </strong> </a><br>
              Madrid (Plaza de Castilla) - Cobeña - Algete<br>
              
              
            </div>
            <div class=" texto">
              <p> <b>  Interurbanos 183 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                La línea 183 de autobús (Ronda De La Constitución - Alcalá) <br>
                 tiene 25 paradas desde Intercambiador De Plaza De Castilla hasta Ronda De La Constitución - Alcalá.</p></div>
          
    
           <div class="horarios">
            <b>Horarios de 183 de autobús
            La ruta de autobús 183 opera todos los días. </b> <br> 
            El horario regular es: 06:10 - 23:00 <br> <br>
            <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
            lun.	06:10 - 23:00	80 - 120 <br>
            mar.	06:10 - 23:00	80 - 120 <br>
            mié.	06:10 - 23:00	80 - 120 <br>
            jue.	06:10 - 23:00	80 - 120 <br>
            vie.	06:10 - 23:00	80 - 120 <br>
            sáb.	02:00 - 23:00	120 - 370 <br>
            dom.	02:00 - 23:00	120 - 370</div>
            <img class="horarios"  src="{% static '/images/mapa.183.png' %}" alt="bus">
          </div>

            <div class="tabla">
              <div class="first">
                <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 180 </strong> </a><br>
                  Alcobendas - Algete<br>
                  
                  
                </div>
                <div class=" texto">
                  <p> <b>  Interurbanos 185 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                    La línea 180 de autobús (Av. España - Est. Alcobendas - S. S. Reyes→Ronda De La Constitución - Alcalá) <br>
                    tiene 21 paradas desde Av. España - Est. Alcobendas - S. S. Reyes hasta Ronda De La Constitución - Alcalá.</p></div>
              
        
               <div class="horarios">
                <b>Horarios de 180 de autobús
                La ruta de autobús 180 opera todos los días. </b> <br> 
                El horario regular es: 06:30 - 22:40 <br> <br>
                <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> 
                lun.	06:30 - 22:40	20 - 40<br>
                mar.	06:30 - 22:40	20 - 40 <br>
                mié.	06:30 - 22:40	20 - 40 <br>
                jue.	06:30 - 22:40	20 - 40<br>
                vie.	06:30 - 22:40	20 - 40<br>
                sáb.	07:00 - 22:20	40 <br>
                dom.	06:30 - 23:40	60 - 70</div>
                <img class="horarios"  src="{% static '/images/mapa.180.png' %}" alt="bus">
              </div>


              <div class="tabla">
                <div class="first">
                  <img class="imagen" src="{% static '/images/Bus-logo.png' %}" alt="Autobús" > <a href="{% url 'reserva' %}" ><p><strong>Linea 171 </strong> </a><br>
                    Madrid (Plaza de Castilla) - Nuevo Algete<br>
                    
                    
                  </div>
                  <div class=" texto">
                    <p> <b>  Interurbanos 171 autobús Linea Horarios y Paradas (Actualizado)</b> <br>
                      La línea 171 de autobús (Intercambiador De Plaza De Castilla (Nivel 0, Isla 4)) <br>
                       tiene 24 paradas desde Ctra. Antigua De Burgos - La Granjilla hasta Intercambiador De Plaza De Castilla.</p></div>
                 
          
                 <div class="horarios">
                  <b>Horarios de 185 de autobús
                  La ruta de autobús 185 opera todos los días. </b> <br> 
                  El horario regular es: 06:00 - 21:40 <br>
                  <strong>Día	Horas operativas	Frecuencia (min) </strong> <br> <br>
                  lun.	06:00 - 21:40	10 - 25<br>
                  mar.	06:00 - 21:40	10 - 25 <br>
                  mié.	06:00 - 21:40	10 - 25 <br>
                  jue.	06:00 - 21:40	10 - 25<br>
                  vie.	06:00 - 23:00	10 - 25<br>
                  sáb.	06:10 - 22:00	30 - 60 <br>
                  dom.	06:20 - 21:00	30 - 70</div>
                  <img class="horarios"  src="{% static '/images/mapa.171.png' %}" alt="bus">
                </div>
    
             

                     
                    
                     
  
      
          
        
        
       
        
        
  {% endblock %}